.text_wrap {
    text-align: center;
}

.brand {
    font-size: 18px;
}

.brand:hover {
    cursor: pointer;
}

.active {
    font-size: 18px;
    text-decoration: underline;
}

.active:hover {
    cursor: pointer;
}