.slider_wrap {
    justify-content: center;
    margin-top: 350px;
}

.header {
    padding-top: 110px;
    padding-left: 195px;
}

.header h1 {
    font-weight: 400;
}

.mySwiper {
    width: 50%;
    height: 150px;
}