.phoneImg {
    width: 300px;
    height: 300px;
}

.content_wrap {
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    height: 375px;
    position: relative;
}

.content_wrap:hover {
    cursor: pointer;
}

.btn_style {
    padding: 5px;
    border-radius: 3px;
    font-weight: 700;
    color: red;
}

.dlt_circle {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -17px;
}