.header_wrap {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    font-weight: 700;
}

.header {
    font-family: 'Roboto Slab', sans-serif;
}

.basket_item_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.clr_red {
    color: red;
}

.btn {
    margin-top: 10px;
    padding: 5px;
    background-color: orange;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    border: 1px solid black;
}