.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    margin-left: -250px;
    top: 50%;
    margin-top: -150px;
    text-align: center;
    transition: 1.5s;
}

.content_wrap_closed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    margin-left: -250px;
    top: 50%;
    margin-top: -1000px;
    text-align: center;
    transition: 1.5s;
}

.content_wrap_switch {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 5px;
    left: 50%;
    position: absolute;
    margin-left: -250px;
    top: 50%;
    margin-top: -1000px;
    text-align: center;
    transition: 1.5s;
}

.close_button_wrap {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.close_button_wrap img {
    width: 35px;
    height: 35px;
}

.close_button_wrap img:hover {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

form > input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.btn {
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 80%;
}

.header > h1 {
    padding-bottom: 25px;
    font-size: 23px;
}


.content {
    width: 50%;
    margin: 20px auto;

}

.bottom_menu {
    display: flex;
    justify-content: space-evenly;
}

.registration_button {

}

.registration_button:hover {
    cursor: pointer;
    text-decoration: underline;
}