.header_wrap {
    display: flex;
    background-color: #22242a;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-family: 'Roboto Slab', sans-serif;
}

.left_side {
    display: flex;
    color: #bfbfbf;
    gap: 50px;
    padding-left: 55px;
}

.right_side {
    display: flex;
    color: #bfbfbf;
    align-items: center;
    gap: 70px;
    padding-right: 55px;
}

.login_logo {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.shop_bucket {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
