.memory_wrap {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter_describe {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Roboto Slab', sans-serif;
}